/* Estilos generales para la sección de gestión de eventos */
h1 {
  text-align: center;
  color: white;
  background-color: #333;
  border-radius: 50px;

}

/* Contenedor centrado para las tarjetas */
.center-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para las tarjetas */
.card {
  width: 400px; /* Ajusta el ancho de las tarjetas */
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;
}

.btn {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: 10px;
}

.btn:hover {
  color: burlywood;
}

.card:hover {
  transform: translateY(-5px);
  background-color: burlywood;
}

.card-body {
  padding: 20px;
}

/* Icono dentro de cada tarjeta */
.card-body i {
  color: black; /* Color de icono */
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.95rem;
  color: #ffffff;
}

/* Botones en las tarjetas */
.btn-primary {
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: burlywood;
  color: #fff;
}

/* Animaciones y sombras para las tarjetas */
.animate__animated.animate__fadeInLeft {
  animation-duration: 0.8s;
}

.animate__animated.animate__fadeInRight {
  animation-duration: 0.8s;
}

/* Separación entre las tarjetas en dispositivos pequeños */
@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }
}
