<div>
  <h1 class="text-center mb-4 animate__animated animate__fadeInDown">Gestión de Cupones</h1>

  <div class="center-cards">
    <!-- Nuevo Cupon -->
    <app-admin-card
      title="Nuevo Cupon"
      description="Crea nuevos cupones"
      iconClass="fa-solid fa-ticket"
      buttonText="Crear Cupon"
      animationClass="animate__fadeInLeft">
    </app-admin-card>

    <!-- Listado de Cupones -->
    <app-admin-card
      title="Listado de Cupones"
      description="Visualiza, edita o elimina cupones"
      iconClass="fa-solid fa-list"
      buttonText="Listar Cupones"
      animationClass="animate__fadeInRight">
    </app-admin-card>
  </div>
</div>
