<div>
  <h1 class="text-center mb-4 animate__animated animate__fadeInDown">Gestión de Cupones</h1>

  <div class="center-cards">
    <!-- Nuevo Cupon -->
    <app-admin-card
      title="Nuevo Cupon"
      description="Crea nuevos cupones"
      iconClass="fa-solid fa-ticket"
      buttonText="Crear Cupon"
      animationClass="animate__fadeInLeft"
      (buttonClick)="toggleCreateCoupon()">
    </app-admin-card>

    <!-- Listado de Cupones Disponibles -->
    <app-admin-card
      title="Cupones Disponibles"
      description="Visualiza cupones activos"
      iconClass="fa-solid fa-list"
      buttonText="Listar Cupones Disponibles"
      animationClass="animate__fadeInRight"
      (buttonClick)="toggleCouponList(true)">
    </app-admin-card>

    <!-- Listado de Cupones No Disponibles -->
    <app-admin-card
      title="Cupones No Disponibles"
      description="Visualiza cupones inactivos"
      iconClass="fa-solid fa-list"
      buttonText="Listar Cupones No Disponibles"
      animationClass="animate__fadeInRight"
      (buttonClick)="toggleCouponList(false)">
    </app-admin-card>
  </div>

  <div *ngIf="isCreatingCoupon">
    <app-crear-cupon></app-crear-cupon>
  </div>

  <div *ngIf="isListingCoupons" class="mt-4">
    <h1>{{titulo}}</h1>
    <app-listar-cupones [isAvailable]="showAvailableCoupons"></app-listar-cupones>
  </div>
</div>
