<p>recover-password works!</p>
<!-- src/app/components/login/login.component.html -->
<div class="container mt-5">
    <h2 class="text-center">Iniciar Sesión</h2>
    <form [formGroup]="recoverPassword" (ngSubmit)="onSubmit()" novalidate>
      <div class="mb-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Ingrese su correo" formControlName="email" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Recuperar</button>
    </form>
  </div>
  