<div class="container mt-5">
  <h2 class="text-center mb-4">Registro</h2>

  <form [formGroup]="registroForm" (ngSubmit)="registrar()">
    <div class="mb-3">
      <label for="idNumber" class="form-label">Número de Identificación:</label>
      <input id="idNumber" class="form-control" formControlName="idNumber" required />
      <div *ngIf="registroForm.get('idNumber')?.invalid && registroForm.get('idNumber')?.touched" class="text-danger">
        <small *ngIf="registroForm.get('idNumber')?.errors?.['required']">Este campo es requerido.</small>
        <small *ngIf="registroForm.get('idNumber')?.errors?.['maxlength']">Máximo 10 caracteres.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Nombre:</label>
      <input id="name" class="form-control" formControlName="name" required />
      <div *ngIf="registroForm.get('name')?.invalid && registroForm.get('name')?.touched" class="text-danger">
        <small *ngIf="registroForm.get('name')?.errors?.['required']">Este campo es requerido.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Número de Teléfono:</label>
      <input id="phoneNumber" class="form-control" formControlName="phoneNumber" required />
      <div *ngIf="registroForm.get('phoneNumber')?.invalid && registroForm.get('phoneNumber')?.touched" class="text-danger">
        <small *ngIf="registroForm.get('phoneNumber')?.errors?.['required']">Este campo es requerido.</small>
        <small *ngIf="registroForm.get('phoneNumber')?.errors?.['maxlength']">Máximo 10 caracteres.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Dirección:</label>
      <input id="address" class="form-control" formControlName="address" />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico:</label>
      <input id="email" class="form-control" formControlName="email" type="email" required />
      <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="text-danger">
        <small *ngIf="registroForm.get('email')?.errors?.['required']">Este campo es requerido.</small>
        <small *ngIf="registroForm.get('email')?.errors?.['email']">El formato del correo es inválido.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña:</label>
      <input id="password" class="form-control" [type]="passwordVisible ? 'text' : 'password'" formControlName="password" required />
      <small>La contraseña debe tener al menos 8 caracteres, una letra mayúscula, un número y un carácter especial.</small>
      <div *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched" class="text-danger">
        <small *ngIf="registroForm.get('password')?.errors?.['required']">Este campo es requerido.</small>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="showPassword" (change)="togglePasswordVisibility()" />
        <label class="form-check-label" for="showPassword">Mostrar Contraseña</label>
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmaPassword" class="form-label">Repetir Contraseña:</label>
      <input id="confirmaPassword" class="form-control" [type]="confirmaPasswordVisible ? 'text' : 'password'" formControlName="confirmaPassword" required />
      <div *ngIf="registroForm.hasError('passwordsMismatch') && (registroForm.get('confirmaPassword')?.touched || registroForm.get('password')?.touched)" class="text-danger">
        <small>Las contraseñas no coinciden.</small>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="showConfirmaPassword" (change)="toggleConfirmaPasswordVisibility()" />
        <label class="form-check-label" for="showConfirmaPassword">Mostrar Contraseña</label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>
