<div class="event-card card shadow-lg">
  <img [src]="eventImage" alt="Imagen del Evento" class="card-img-top event-image">
  <div class="card-body d-flex flex-column">
      <h2 class="card-title event-title">{{ eventTitle }}</h2>
      <p class="card-text event-date">Fecha: {{ eventDate }}</p>
      <p class="card-text event-location">Lugar: {{ eventLocation }}</p>
      <div class="button-container mt-auto">
          <button class="btn btn-light buy-btn">
              <i class="fas fa-shopping-cart"></i>
          </button>
          <button class="btn btn-outline-light cart-btn">
              <i class="fas fa-plus-circle"></i> Comprar
          </button>
      </div>
  </div>
</div>
