<div class="main-container">
  <div class="event-card card shadow-lg">
    <img [src]="eventImage" alt="Imagen del Evento" class="card-img-top event-image">
    <div class="card-body d-flex flex-column">
      <section class="additional-info text-center mt-3">
        <p class="card-title event-title">{{ eventTitle }}</p>
        <p class="card-text event-city">{{ eventCity }}</p>
        <p class="card-text event-date">Fecha: {{ eventDate }}</p>
        <p class="card-text event-location">Lugar: {{ eventLocation }}</p>
      </section>
      <section class="button-container d-flex justify-content-around mt-auto">
        <!-- Botón para abrir el modal con apariencia de carrito -->
        <button class="btn btn-light" (click)="openCartModal(eventId)">
          <i class="fa-solid fa-cart-shopping"></i> <!-- Ícono del carrito -->
        </button>

        <!-- Modal -->
        <app-cart-modal
          [isVisible]="modalVisible"
          [eventId]="selectedEventId"
          (close)="closeCartModal()">
        </app-cart-modal>

        <!-- Botón Comprar -->
        <button
          class="btn btn-light buy-btn"
          [routerLink]="['/crear-orden']"
          [queryParams]="{ idEvent: eventId }">
          <i class="fas fa-plus-circle"></i> Comprar
        </button>
      </section>
    </div>
  </div>
</div>