
<div class="content-wrapper">

<footer class="footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="#" class="social-icon">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <div class="contact-info">
      <p>Contacto: unieventosproyect&#64;gmail.com</p> <!-- Usando &#64; para el símbolo @ -->
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 UniEventos. Todos los derechos reservados.</p>
  </div>
</footer>
