<div>
  <h1 class="text-center mb-4 animate__animated animate__fadeInDown">Gestión de Eventos</h1>

  <div class="center-cards">
    <!-- Nuevo Evento -->
    <app-admin-card
      title="Nuevo Evento"
      description="Crea nuevos eventos"
      iconClass="fa-solid fa-masks-theater"
      buttonText="Crear Evento"
      animationClass="animate__fadeInLeft"
      (click)="toggleCreateEvent()">
    </app-admin-card>

    <!-- Listado de Eventos -->
    <app-admin-card
      title="Listado de Eventos"
      description="Visualiza, edita o elimina eventos"
      iconClass="fa-solid fa-list"
      buttonText="Listar Eventos"
      animationClass="animate__fadeInRight"
      (click)="toggleEventList()">
    </app-admin-card>
  </div>

  <div *ngIf="isCreatingEvent">
    <app-crear-evento></app-crear-evento>
  </div>

  <div *ngIf="isListingEvents" class="mt-4">
    <app-listar-eventos></app-listar-eventos>
  </div>
</div>
