/* Ajustar el tamaño máximo del logo */
.logo {
    max-height: 100px; /* Puedes ajustar según necesites */
    width: auto;      /* Mantiene la proporción de la imagen */
  }
  
  /* Ajuste adicional para pantallas más pequeñas */
  @media (max-width: 576px) {
    .logo {
      max-height: 40px; /* Tamaño menor para pantallas pequeñas */
    }
  }
  
/* Cambiar el color de fondo del navbar */
.navbar {
    background-color: #b2ff00 !important; /* Color de fondo */
  }
  
  /* Cambiar el color y el grosor de las letras */
  .navbar-nav .nav-link {
    color: #191919 !important; /* Color de las letras */
    font-weight: 800; /* Extra bold*/
  }
  
  /* Cambiar el color de las letras en el hover */
  .navbar-nav .nav-link:hover {
    color: rebeccapurple; /* Color al pasar el mouse, ajusta según prefieras */
  }

  .nav-link i {
  margin-left: 15px;  /* Espacio entre los iconos */
  color: #191919;     /* Color del icono */
}

.navbar {
  background-color: #191919; /* Fondo del navbar */
}

.icon {
    color: #b2ff00;  /* Color del icono */
    transition: all 0.3s ease;  /* Suaviza el cambio */
  }
  
  /* Pantallas grandes: Computadoras y tablets grandes */
  @media (min-width: 1200px) {
    .icon {
      font-size: 2.5rem;
    }
  }
  
  /* Tablets y pantallas medianas */
  @media (min-width: 768px) and (max-width: 1199px) {
    .icon {
      font-size: 2rem;
    }
  }
  
  /* Móviles: Incluye dispositivos de alta densidad */
  @media (max-width: 767px) {
    .icon {
      font-size: 1.8rem;
    }
  }