<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" /> <!-- Corrección aquí: debe ser UTF-8 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="navbar.component.css">
  <title>Responsive Navbar</title>
</head>

<body>
  <header>
    <div class="navbar">
      <div class="logo">
        <a href="#">
          <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-1c779.appspot.com/o/logoOscuro.svg?alt=media&token=2d245213-4432-4284-a36b-089cc0da1bf8" alt="Web Dev Creative" style="height: 40px;"/> <!-- Cambia 'URL_DE_TU_LOGO' por la URL de tu logo -->
        </a>
      </div>
      <ul class="links">
        <li><a href="hero">inicio</a></li>
        <li><a href="about">About</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
      <div>
        <a href="" class="action_btn">login</a>
        <a href="" class="action_btn">registrate</a>
      </div>
      <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    

    </div>
  </header>
</body>
