* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; /* Fuente general */
}

body {
  height: 100vh; /* Altura completa de la ventana */
  background-color: #222; /* Color de fondo oscuro */
  background-image: url('https://i.pinimg.com/originals/61/0d/30/610d309ee5ecc91b82365a0f71926bc9.gif'); /* Fondo animado */
  background-size: cover; /* Cubre toda la pantalla */
  background-position: center; /* Centra la imagen */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffff;
  font-size: 1rem;
}

a:hover {
  color: burlywood;
}

/* Header */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #ffff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: rgb(224, 219, 208);
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2s ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #ffff;
}

.action_btn:active {
  scale: 0.95;
}