/* Contenedor principal */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin: 2em 0;
}

/* Barra de búsqueda */
.search-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  background-color: #0A0B0D; /* Fondo semi-transparente */
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Labels */
label {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
}

/* Inputs y selects */
input[type="search"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
  color: black; /* Texto blanco */
  font-size: 14px;
  outline: none;
}

input[type="search"]::placeholder {
  color: #e0e0e0;
}

/* Botones */
button[type="submit"],
button[type="button"] {
  background: rgba(126, 46, 255, 0.8); /* Fondo semi-transparente */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background: rgba(126, 46, 255, 1);
}
