/* Estilo para el contenedor del formulario de login */
.active-account-container {
    max-width: 400px; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor */
    margin-top: 56px; /* Espacio adicional para evitar que el formulario se sobreponga con la navbar */
    margin-bottom: 4.5rem;
    padding: 30px; /* Espaciado interior aumentado */
    border-radius: 12px; /* Bordes redondeados */
    background-color: rgba(10, 11, 13, 0.6); /* Fondo con opacidad */
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2), 0 8px 30px rgba(0, 0, 0, 0.1); /* Sombra exterior */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
    color: white;
  }
  
  /* Estilo para los campos de entrada */
  input[type="email"],
  input[type="password"] {
    border: 1px solid #5e5e5e; /* Borde del campo de entrada */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    margin-bottom: 15px; /* Espacio entre los campos */
    transition: border-color 0.3s ease; /* Transición suave para el borde */
  }
  
  /* Efecto al pasar el ratón sobre los campos de entrada */
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: burlywood; /* Color del borde al enfocar */
    outline: none; /* Quitar contorno por defecto */
  }
  
  /* Estilos de botón globales */
  button {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin-top: 10px;
  }
  
  /* Efecto hover para todos los botones */
  button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  
  /* Estilo responsivo para el botón */
  @media (min-width: 768px) {
    button {
      padding: 0 2.6rem;
    }
  }