<div class="conteiner">
  <app-carrucel></app-carrucel>


  <!-- Escuchar el evento (filterApplied) y llamar a onFilterApplied -->
  <app-event-filter-component (filterApplied)="onFilterApplied($event)"></app-event-filter-component>

  <div class="card-container">
    <app-card *ngFor="let event of events"
      [eventImage]="event.urlImagePoster"
      [eventTitle]="event.name"
      [eventDate]="event.date | date:'medium'"
      [eventLocation]="event.address ?? 'Ubicación no disponible'">
    </app-card>
  </div>
</div>