
<div class="container my-5">
  <div>
  <h2>Panel de Administración</h2>
  <p class="subtext text-center mb-5">
    Bienvenido, Admin. Gestiona eventos, cupones y genera reportes fácilmente desde aquí.
  </p>
  </div>
  
  <div class="row">
    <!-- Gestionar Eventos -->
    <div class="col-md-4 mb-4">
      <app-admin-card
        title="Gestionar Eventos"
        description="Administra los eventos activos, crea nuevos eventos y edita los existentes."
        iconClass="fas fa-calendar-alt"
        buttonText="Gestión de Eventos"
        animationClass="animate__fadeInLeft"
        (buttonClick)="navigateTo('/gestionar-eventos')"> <!-- Escucha el evento y llama al método -->
      </app-admin-card>
    </div>

    <!-- Gestionar Cupones -->
    <div class="col-md-4 mb-4">
      <app-admin-card
        title="Gestionar Cupones"
        description="Crea y edita cupones para promociones y descuentos en eventos."
        iconClass="fas fa-tags"
        buttonText="Gestión de Cupones"
        animationClass="animate__fadeInUp"
        (buttonClick)="navigateTo('/gestionar-cupones')"> <!-- Escucha el evento y llama al método -->
      </app-admin-card>
    </div>

    <!-- Generar Reportes -->
    <div class="col-md-4 mb-4">
      <app-admin-card
        title="Generar Reportes"
        description="Genera reportes detallados de ventas, usuarios y eventos para análisis."
        iconClass="fas fa-chart-line"
        buttonText="Reportes"
        animationClass="animate__fadeInRight"
        (buttonClick)="generarReporte()"> <!-- Escucha el evento y llama al método -->
      </app-admin-card>
    </div>
  </div>
</div>
