/* Fondo dinámico de la aplicación */
:host {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url('ruta/de/a.gif'); /* Cambia la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Contenedor de contenido principal */
.flex-grow-1 {
  flex-grow: 1; /* El contenido ocupa el espacio restante */
  justify-content: center;
  align-items: center;
  padding: 0; /* Eliminar el padding que puede estar afectando */
  box-sizing: border-box; /* Asegura que los márgenes y bordes no afecten el tamaño */
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}


/* Estilos del navbar y footer */
app-navbar,
app-footer {
  width: 100%;
  background-color: #0A0B0D; /* Color de fondo del navbar y footer */
  color: #ffffff;
}

app-footer {
  padding: 10px 0;
  text-align: center;
}

