body {
  background-color: #5e5e5e; /* Color de fondo para toda la aplicación */
  color: white; /* Color de texto por defecto */
  font-family: Arial, sans-serif; /* Fuente general */
  margin: 0; /* Elimina márgenes por defecto */
  height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}
