
<div class="container mt-5">
    <h2 class="text-center">Recuperar Contraseña</h2>
    <form [formGroup]="sendActiveCode" (ngSubmit)="onSubmit()" novalidate>
      <div class="mb-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Ingrese su correo" formControlName="email"
          required>
        <small *ngIf="sendActiveCode.get('email')?.errors?.['required']">El correo es requerido.</small>
        <small *ngIf="sendActiveCode.get('email')?.errors?.['email']">El correo no es válido.</small>
      </div>
  
      <div>
        <button type="submit" class="btn">Enviar</button>
        <button type="button" class="btn btn-secondary w-100 mt-2" (click)="cancel()">Cancelar</button>
      </div>
  
    </form>
  </div>
  